body{
    background-color: black;
}
/* typography*/
h1{
    font-size: 1em;
    
}
h2{
    color: #000;
}
h3{
    padding: 1.5em;
    font-size: 1em;
    color:#FFF;
}
p{
    padding:5em;
    color: #fff;

}
h4{
    font-size: 1em;
    text-align: center;
    color: #0000FF;
    
}
/*site wide components*/
img{

    border:0.5em solid #FFF;
    padding:0.2em;
    margin: 0.2em;
}